/*
    DEMO STYLE
*/


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#buttonWrapper{
    display: flex;
    justify-content: space-around;
}

#buttonMain{
    width: 400px;
    height: 40px;
}

.navbar{
    margin-top: -30px;
    margin-bottom: 10px;
}

.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f7f7f7;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #f7f7f7;
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#sidebarCollapse{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #0E4D28;
    color: #f7f7f7;
}

#sidebarCollapse:hover{
    color: #170706;
    background: #6A957C;
}

#mainbody h2{
    text-align: center;
}

.cardWrapper{
    width: 100%;
    height: 400px;
    background-color: #d9d9d9;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0E4D28;
    color: #f7f7f7;
    transition: all 0.3s;
    text-align: center;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #032712;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #f7f7f7;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin-top: 20px;
}

#sidebar h5{
    margin-top: 20px;
    margin-bottom: 20px;
}

#sidebar ul li a:hover {
    color: #170706;
    background: #6A957C;
}

#sidebar ul li.active>a,

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content ul li a:hover{
    color: #170706;
    background: #6A957C;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* -----------------------------------------------------------
   CARD WRAPPER
-------------------------------------------------------------- */

.cardContainer{
padding: 20px; 
display: flex;
justify-content: space-around;
}

.card-title{
    text-align: center;
}

.accept{
    display: flex;
    justify-content: space-between;
}

.accept a{
    display:block;
}

#card{
    height: 90%;
}

#card img{
    height: 40%;
}


.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}


/*------------------------------------------------------------------------------
        profile card
------------------------------------------------------------------------------*/

.profileCard{
    display: flex;
    background-color:  #d9d9d9;
    padding: 30px;
}

#profilePic{
   width: 30%;
   padding-top: 120px;
}

#profilePic img{
    width: 200px;
    height: 200px;
}
