<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

	<nav th:replace="fragments :: navigation"></nav>

	<div class="login-card">
		<section id="loginSection">
			<div class="alert alert-success" th:if="${success}">
				<p class="text text-center">Registration successful!! Please
					Sign in to continue</p>
			</div>
			<div class="alert alert-danger" th:if="${param.error}">
				<p class="text text-center">You entered the credentials!! Please
					try again</p>
			</div>
			<div class="alert alert-danger" th:if="${param.logout}">
				<p class="text text-center">You have been logged out!! Please
					login to continue</p>
			</div>
			<h1 class="text-uppercase text-center">Login</h1>
		</section>
		<img th:src="@{/images/avatar_2x.png}" class="profile-img-card">
		<p class="profile-name-card"></p>
		<form class="form-signin" th:action="@{/login}" method="post">
			<span class="reauth-email"> </span>
			<div class="form-group">
				<label> Username </label> <input class="form-control" type="text"
					required="" placeholder="Username" autofocus name="username">
			</div>
			<div class="Password">
				<label></label> <input class="form-control" type="password"
					required="" placeholder="Password" id="inputPassword"
					name="password">
			</div>
			<div class="checkbox">
				<div class="checkbox">
					<label> <input type="checkbox">Remember me
					</label>
				</div>
			</div>
			<button class="btn btn-primary btn-block btn-lg btn-signin"
				type="submit">Sign in</button>
		</form>
		<a href="#" class="forgot-password">Forgot your password?</a>
	</div>

	<footer th:replace="fragments :: footer"></footer>

	<script th:src="@{/javascript/jquery.min.js}"></script>
	<script th:src="@{/javascript/bootstrap.min.js}"></script>

</body>


</html>
